/* --------------------------- GrammarBox area --------------------------- */

.orange-button {
    -fx-font: 20px "Arial";
    -fx-font-weight: Bold;
    -fx-padding: 10px 100px 10px 100px;
    -fx-background-color: #FF7E22;
    -fx-background-radius: 0;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.orange-button:hover {
    -fx-background-color: #F57418;
}

.orange-button:pressed {
    -fx-background-color: #EB6A0E;
}

#LayoutStack {
    -fx-background-color: #3F3F46;
}

#GrammarBox {
    -fx-font: 26px "Consolas";
    -fx-padding: 8;

    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0;
    -fx-border-image-width: 0;
    -fx-background-image: null;
    -fx-region-background: null;
}

#GrammarBox .content {
    -fx-background-color: transparent, white, transparent, white;
}

#GrammarBox:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

#LblGrammar {
    -fx-font: 20px "Consolas";
    -fx-font-weight: Bold;
}

/* --------------------------- Result Grid --------------------------- */

#ResultScrollPane {
    -fx-background-color: #3F3F46;
}

#ResultVBox {
    -fx-background-color: #3F3F46;
}

#BackBtn {
    -fx-background-color: #3F3F46;
    -fx-cursor: hand;
}

.grid-cell {
    -fx-font: 24px "Consolas";
    -fx-background-color: black, #3F3F46;
    -fx-background-insets: 0, 0 2 2 0;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-padding: 15px;
}

.grid-cell-headline {
    -fx-font-weight: Bold;
}

.grid-cell-firstCol {
    -fx-background-insets: 0, 0 2 2 2;
}